---
- name: Install Nginx
  dnf:
    name: nginx
    state: present

- name: Configure main Nginx setup
  copy:
    dest: /etc/nginx/nginx.conf
    content: |
      user nginx;
      worker_processes auto;
      error_log /var/log/nginx/error.log notice;
      pid /run/nginx.pid;

      events {
          worker_connections {{ nginx_worker_connections | default(1024) }};
      }

      http {
          include /etc/nginx/mime.types;
          default_type application/octet-stream;
          log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                          '$status $body_bytes_sent "$http_referer" '
                          '"$http_user_agent" "$http_x_forwarded_for"';
          access_log /var/log/nginx/access.log main;
          sendfile on;
          keepalive_timeout {{ nginx_keepalive_timeout | default(65) }};
          include /etc/nginx/conf.d/*.conf;
      }
  notify: Restart Nginx

- name: Configure Nginx Reverse Proxy
  copy:
    dest: /etc/nginx/conf.d/reverse_proxy.conf
    content: |
      server {
          listen 80;
          server_name _;

          location / {
              proxy_pass http://127.0.0.1:{{ app_port | default(9000) }};
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          }
      }
  notify: Restart Nginx

- name: Ensure Nginx service is started and enabled
  service:
    name: nginx
    state: started
    enabled: yes
