---
- name: Install Docker and dependencies
  dnf:
    name:
      - docker
      - python3-pip
    state: present

- name: Install Docker Python SDK
  pip:
    name: docker
    state: present
    extra_args: --ignore-installed

- name: Ensure Docker service is started and enabled
  service:
    name: docker
    state: started
    enabled: yes

- name: Add ssm-user to docker group
  user:
    name: ssm-user
    groups: docker
    append: yes
